.welcome-box {
    background-color: var(--primary);
    min-height: 850px;
    display: flex;
    align-items: stretch;
}

.content-stage-1 {
    width: 800px;
    background-color: var(--light);
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .3s;
}

.content-stage-2 {
    position: absolute;
    width: 125%;
    left: 25%;
    transition: all .3s;
}

.s3-wrapper {
    position: absolute;
    left: 135%;
    transition: all .3s;
}

.content-stage-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary);
    width: 400px;
    height: 350px;
    padding: 25px 35px;
}

.heading {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 800;
    line-height: 150%;
}

.heading-1 {
    color: var(--secondary-dark);
}

.heading-footer {
    display: flex;
}

.heading-footer p {
    margin-right: 10px;
}

.stage-footer {
    position: absolute;
    width: 80%;
    bottom: 50px;
    left: 10%;
}

@media (max-width: 2300px) {
    .content-stage-1 {
        margin-left: 10%;
    }
}

@media (max-width: 1900px) {
    .content-stage-1 {
        width: 600px;
    }

    .content-stage-2 {
        left: 10%;
    }

    .s3-wrapper {
        left: 115%;
    }
}

@media (max-width: 1350px) {
    .content-stage-1 {
        width: 60%;
        margin-left: 20%;
    }
    .content-stage-2 {
        width: 140%;
        left: -20%;
        top: 100px;
    }

    .s3-wrapper {
        left: auto;
        width: 420px;
        top: 300px;
    }
}

@media (max-width: 500px) {
    .welcome-box {
        min-height: 600px;
    }
    .content-stage-1 {
        width: 90%;
        margin-left: 5%;
    }
    .content-stage-2 {
        width: 110%;
        left: -5%;
    }
    .s3-wrapper {
        position: relative;
        top: 0;
        width: 90%;
    }
    .content-stage-3 {
        height: auto;
        width: auto;
        padding: 10px;
    }

    .heading {
        font-size: 2.5rem;
    }
}