.about-wrapper {
    min-height: 850px;
    display: flex;
    align-items: stretch;
}

.about-stage-1 {
    background-color: var(--secondary);
    width: 800px;
    margin-left: 20%;
    transition: all .3s;
}

.stage-content {
    transition: all .3s;
    height: 100%;
    width: 1500px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.stage-images-box {
    align-self: center;
    position: relative;
    height: 100%;
}

.stain-wrapper {
    transition: all .3s;
    position: absolute;
    width: 600px;
    top: 35%;
    left: 0;
}

.about-img-wrapper {
    transition: all .3s;
    position: absolute;
    width: 800px;
    top: 25%;
    left: 15%;
}

.about-us-article {
    display: flex;
    align-items: center;
}

.about-us-article h3 {
    font-size: 3rem;
    text-transform: uppercase   ;
}

.about-paragraph {
    margin: 20px 0;
}
 
.about-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

@media (max-width: 2300px) {
    .about-stage-1 {
        margin-left: 10%;
    }
}

@media (max-width: 1900px) {
    .about-stage-1 {
        width: 600px;
    }

    .about-img-wrapper {
        width: 675px;
    }

    .stain-wrapper {
        width: 400px;
    }

    .stage-content {
        width: 1300px;
    }       
}

@media (max-width: 1600px) {
    .about-img-wrapper {
        width: 600px;
    }
    
    .stage-content {
        width: 1200px;
    }
}

@media (max-width: 1350px) {
    .about-stage-1 {
        width: 60%;
        margin-left: 20%;
    }

    .stage-content {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        padding: 50px;
    }

    .about-img-wrapper {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
    }

    .stain-wrapper {
        position: absolute;
        width: 80%;
        left: -15%;
        top: 0;
    }

    .about-us-article {
        margin-top: 50px;
    }
}

@media (max-width: 500px) {
    .about-stage-1 {
        width: 90%;
        margin-left: 5%;   
    }
}