.about-wrapper {
    height: 100vh;
    min-height: 850px;
    display: flex;
    align-items: stretch;
}

.about-stage-1 {
    background-color: var(--secondary);
    width: 800px;
    margin-left: 20%;
}

.stage-content {
    height: 100%;
    width: 1500px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.stage-images-box {
    align-self: center;
    position: relative;
    height: 100%;
}

.stain-wrapper {
    position: absolute;
    width: 600px;
    top: 30%;
    left: 0;
}

.about-img-wrapper {
    position: absolute;
    width: 800px;
    top: 20%;
    left: 15%;
}

.about-us-article {
    display: flex;
    align-items: center;
}

.about-us-article h3 {
    font-size: 3rem;
    text-transform: uppercase   ;
}

.about-paragraph {
    margin: 20px 0;
}
 
.about-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}