.hp-container {
    width: 1200px;
    margin: auto;
    padding-bottom: 120px;
    transition: all .3s;
}

.hp-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.hp-article {
    transition: all .3s;
    width: 1200px;
    height: 400px;
    background-color: var(--dark);
    padding: 100px 150px;
}

.hp-article header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hp-article h2 {
    color: var(--light);
    font-size: 3rem;
}

.hp-product-wrapper {
    position: relative;
    top: 50px;
}

.hp-product {
    transition: all .3s;
    height: 300px;
    background-color: var(--primary);
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.hp-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hp-product-img {
    max-width: 400px;
}

.hp-get-book {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hp-get-book h3 {
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--dark);
}

.hp-get-book .hp-price {
    text-align: center;
    padding: 30px;
}

.hp-get-btn {
    display: flex;
    justify-content: center;
}

@media (max-width: 1350px) {
    .hp-container {
        width: 80%;
    }

    .hp-article {
        padding: 50px 75px;
    }
}

@media (max-width: 1050px) {
    .hp-container {
        padding-bottom: 250px;
    }
    .hp-product {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        padding: 25px;
    }
}

@media (max-width: 750px) {
    
    .hp-article {
        padding: 50px;
    }
    
    .hp-article header {
        flex-direction: column;
    }

    .hp-article header h2 {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .hp-container {
        width: 100%;
    }

    .hp-article {
        padding: 35px 20px;
        width: 90%;
    }
}