.login-wrapper {
    min-height: calc(100vh - 100px);
    background-color: var(--primary);
    display: flex;
    align-items: stretch;
}

.login-section-1 {
    width: 800px;
    background-color: var(--light);
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login-section-1 > * {
    margin: 20px 0;
}

.login-section-1 h1 {
    width: 350px;
    font-size: 4rem;
    text-align: left;
}

.login-section-1 input {
    width: 350px;
}

.form-footer {
    width: 350px;
    display: flex;
    justify-content: flex-end;
}

.devider {
    position: relative;
    width: 350px;
    text-align: center;
}

.devider::before, .devider::after {
    content: '';
    height: 1px;
    width: 40%;
    position: absolute;
    left: 0;
    top: 50%;
    background-color: var(--dark);
}

.devider::after {
    right: 0;
    left: auto;
}

.redirect-wrapper {
    width: 350px;
}

.redirect-wrapper a {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.img-wrapper {
    position: absolute;
    left: 90%;
    width: 1200px;
    height: 600px;
}

.inner-image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}