.header-wrapper {
    height: 100px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.herader-left-box {
    display: flex;
    align-items: center;
}

.herader-left-box a {
    display: block;
    padding: 20px 40px;
    margin-top: 10px;
}