.header-wrapper {
    background-color: var(--light);
    transition: all 1s;
    height: 100px;
    width: 100%;
    padding: 0 50px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 50px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-nav-wrpper a {
    display: block;
    padding: 20px;
    transition: all 1s;
}

.header-nav-wrpper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-wrapper {
    transition: all 1s;
    width: 200px;
}

.header-small {
    height: 60px;
}

.header-small .herader-left-box a, .header-small .header-nav-wrpper {
    margin-top: 0;  
}

.header-small .header-logo-wrapper {
    width: 100px;
}

.hamb-wrapper {
    display: none;
}

@media (max-width: 900px) {
    .header-wrapper {
        height: 60px;
    }
    .header-logo-wrapper {
        width: 100px;
    }
    .header-nav-wrpper {
        flex-direction: column;
        width: 100vw;
        height: calc(100vh - 60px);
        position: fixed;
        justify-content: center;
        top: 60px;
        left: 100%;
        z-index: 1000;
        background-color: var(--light);
        transition: left 1s;
    }
    .header-nav-wrapper-open {
        left: 0;
    }
    .hamb-wrapper {
        display: block;
    }
    .hamb-inner-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .header-nav-wrpper a {
        font-size: 3rem;
    }
}