:root {
  --dark: #222;
  --light: #fafafa;
  --primary: #cbdbc5;
  --secondary: #e8e6e6;
  --secondary-dark: #6b6b6b;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--light);
  font-family: 'Raleway', sans-serif;
  color: var(--dark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  margin-bottom: -4px;
}

a {
  text-decoration: none;
  color: var(--dark);
}

input, textarea {
  border: 1px solid var(--light);
  background-color: transparent;
  padding: 15px;
  color: var(--lihgt);
}

textarea {
  resize: none;
}

input:focus, textarea:focus {
  outline: 2px solid var(--primary);
  border-color: var(--primary);
}

.inp-secondary {
  border-color: var(--dark);
}

.page-wrapper {
  margin-top: 100px;
}