.nav ul {
    display: flex;
}

.nav a {
    text-align: center;
    display: block;
    padding: 20px;
}

@media (max-width: 900px) { 
    .nav ul {
        margin-top: 5px;
        flex-direction: column;
    }

    .nav a {
        font-size: 3rem;
    }
}